*{
    margin:auto;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins', 'sans-serif';
}

body{
    justify-content: center; 
    background:#dedddd;
}

header, section{
    width: 80%;
    background-color: #2eb7be;
    border-left:2px solid #05161a;
    border-right:2px solid #05161a;
}

header, section{
    border-bottom: 1px solid black;
}

.header-bg{
    background-color: #05161a;
}

.options:hover{
    cursor: pointer;
    text-decoration:  2px underline;
    transition: all 0.3 ease;
    color: aquamarine;
}

.give-font{
    color: aquamarine;
    font-size: 1.1em;
}

.options{
    color: aqua;
    font-size: 1.1em;
}

.get-color{
    color: #05161a;
}

.home{
    background-color: #072e33;
    color: aqua;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    border-radius: 2.5px;
}

.home:hover{
    background-color: #094b5c;
    color: aquamarine;
}

.play{
    width: 130px;
    height: 60px;
    background: transparent ;
    border: 2px solid margin;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1em;
    color: whitesmoke;
    font-weight: 500;
    margin-left: 40px;
    border: 2px solid #05161a;
}

.play:hover{
    transition: .3s;
    color: #05161a;
}