*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', 'sans-serif';
}

body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: rgba(0, 0, 0, 0.5); */
  background: url('Images/disco.jpg') #ffffff71 no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.l {
  background-image: url(Images/crash.png );
}

.k {
  background-image: url(Images/kick.png );
}

.j {
  background-image: url(Images/snare.png );
}

.w {
  background-image: url(Images/tom1.png );
}

.a {
  background-image: url(Images/tom2.png );
}

.s {
  background-image: url(Images/tom3.png );
}

.d {
  background-image: url(Images/tom4.png );
}

.set {
  margin: 10% auto;
  width: 50vw;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #1a1de2;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #000000;
  text-shadow: 5px 5px 0 #99c4d2;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

z{
  /* background: none; */
  display: none;
  border: 1px solid black;
  width: 1500px;
  height: 1px;
}